* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 1rem 0;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #555;
    text-align: center;
}

/* Formulir */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.search-form input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.search-form input[type="text"]:focus {
    border-color: #fd28dd;
    outline: none;
}

.search-form button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    background: #fd28dd;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background: #b0199a;
}

.table-container {
    margin: 2rem 0;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background: #fd28dd;
    color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

tr:hover {
    background: #f1f1f1;
}

.btn {
    display: inline-block;
    padding: 7px 15px;
    border: none;
    color: #fff;
    background: #fd28dd;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #b0199a;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 2rem 0;
}

.page-link {
    padding: 8px 12px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #fd28dd;
    color: #fff;
}

.page-link.active {
    background-color: #fd28dd;
    color: #fff;
}
